@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
  --Dark-desaturated-blue: hsl(244, 38%, 16%);
  --main-background-color: hsl(233, 47%, 7%);
  --Soft-violet: hsl(277, 64%, 61%);
  --text-color: #fff;
}

body {
  width: 1400px;
  background-color: var(--main-background-color) ;
}

main {
  height: 98vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .image-div img {
height: 33rem;
width: 42rem;
}

main #text-div {
  color: var(--text-color);
  background-color: var(--Dark-desaturated-blue);
  border: 1px solid transparent;
  height: 33rem;
  width: 44rem;
  padding: 3.7rem 4rem 0 5rem;
}

#text-div h3 {
  font-size: 3rem;
  font-family: 'Inter', sans-serif;
  font: 700;
  letter-spacing: 2.5;
  padding-bottom: 2.5rem;
}

#text-div h3 span {
color: var(--Soft-violet);
}

#text-div p {
  font-size: 1.33rem;
  font-family: 'Inter', sans-serif;
  line-height: 2;
  letter-spacing: 0.01rem;
  padding-right: 1.4rem;
  font: 400;
  padding-bottom: 3.4rem;
}

#text-div .infotext-container {
  display: flex;
}

#text-div .infotext-container .info-text {
  display: inline-block;
  padding-right: 6rem;
  font-size: 1rem;
  letter-spacing: 0.07rem;
}

#text-div .infotext-container .info-text span {
   display: inline-block;
  font-size: 2rem;
  font-weight: bolder;
  font: 800;
  padding-bottom: 0.6rem;
}


@media screen and (max-width: 480px) {
  body {
     width: 400px;
  }

  main {
  height: 80vh;
  display: flex;
  flex-direction: column-reverse;
}

main .image-div img {
/* height: 30rem; */
}

main #text-div {
  /* color: var(--text-color); */
  /* background-color: var(--Dark-desaturated-blue); */
  border: 1px solid transparent;
  height: 75vh;
  /* width: 44rem; */
  /* padding: 3.7rem 4rem 0 5rem; */
}

footer {

}

}